<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>Sudoku_solver</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
        <style>
            #load_gif{
                width: 100%;
                text-align: center;
            }
            .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
            }
            body {
             background-color: rgb(214, 239, 255);
             text-align: center;
            }
        </style>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>